#protagonist {
	z-index:99;
	height: 42px;
	width: 41px;
	background: 
	url('../assets/Hz28tgl.png') 0px 0px;
	position:fixed;
	top:50%;
	left:50%;
}

#range {
    width:100%;
	 height:100%;
    overflow:hidden;
    border:0px solid black;
}



#link_layer{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
  z-index:1;
}
#div_authen{
  z-index:3;
  background-color: rgba(220, 200, 200, 0.8);;
  position:fixed;
  width:50%;
  height:50%;
  left:25%;
  top:25%;
  font-size:20px;
  padding: 20px 20px 20px 20px;
  display:none;
}
.single-line{
  margin-bottom:20px;
  border-style:solid;
  border-width:2px;
  font-size:20px;
}

#div_authen_send{
  border-style:solid;
  border-size:2px;
  width:80px;
  text-align:center;
  margin-bottom:5px;

}
#div_authen_send:hover{
  background-color: gray;
  cursor:pointer;

}
#icon{
	width:30px;
}
#edit_div{
  position:fixed;
  z-index:5;
  width:30%;
  height:60%;
  right:5px;
  top:40%;
  background-color: rgba(255, 255, 255, 0.8);

}

#edit_div_close{
  position:relative;
  text-align:right;
  padding-right:5px;
  font-size:20px;
}

#edit_div_content{
  padding-left:5px;

}

#memo_div{
  position:fixed;
  z-index:5;
  width:30%;
  height:60%;
  right:5px;
  top:40%;
  background-color: rgba(255, 255, 255, 0.8);
  display:none;

}

#memo_div_close{
  position:relative;
  text-align:right;
  padding-right:5px;
  font-size:20px;
}

#memo_div_content{
  padding-left:5px;

}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:100%;
    overflow: hidden;
}
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}
.icon{
	position:absolute;
	z-index:2;
	left:0px;
	top:0px;
	cursor:pointer
}

.topnav {
  position:fixed;
  overflow: hidden;
  background-color: #333;
  z-index:5;
  top:0;
  left:0;
  width:100%;
  display:none;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
/*nav*/
@-webkit-keyframes getcrossedpos {
  45% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 33%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 45%;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 45%;
  }
}
@keyframes getcrossedpos {
  45% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 33%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 45%;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 45%;
  }
}
@-webkit-keyframes straightenpos {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 45%;
  }
  55% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 33%;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 33%;
  }
}
@keyframes straightenpos {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 45%;
  }
  55% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 33%;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 33%;
  }
}
@-webkit-keyframes getcrossedneg {
  45% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 60%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 45%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 45%;
  }
}
@keyframes getcrossedneg {
  45% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 60%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 45%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 45%;
  }
}

.ss-icon {
  font-family: "SSSocialCircle";
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}




nav {
  position: absolute;
  left: 43%;
  top: 33%;
  width: 7rem;
  height: 7rem;
  z-index: 3;
  line-height: 7rem;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  background: #f00;
  outline: none;
  display:none;
}
nav:hover, nav:focus {
  background: #fff;
  z-index:50;
}
nav:before, nav:after, nav > span {
  position: absolute;
  left: 27%;
  content: "";
  display: block;
  width: 46%;
  top: 33%;
  height: 8%;
  background: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .5s;
  transition: .5s;
}
nav span {
  top: 46%;
}
nav:after {
  top: 60%;
}
nav.clicked:before {
  -webkit-animation: getcrossedpos .6s forwards;
          animation: getcrossedpos .6s forwards;
}
nav.clicked:after {
  -webkit-animation: getcrossedneg .6s forwards;
          animation: getcrossedneg .6s forwards;
}
nav.clicked span#center-bar {
  opacity: 0;
}
nav:hover {
  cursor: pointer;
}
nav.clicked {
  background: #000;
  outline: none;
}
nav a {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: red;
  text-align: center;
  line-height: 1.5;
  color: #111;

  text-decoration: none;
  position: absolute;
  font-size: 4rem;
  text-align: center;
  left: 1rem;
  top: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: -1;

}
nav a:hover, nav a:focus {
  background-color: #fff;

}
nav a:nth-child(1) {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}
nav.clicked a:nth-child(1) {
  -webkit-transform: rotate(-72deg) translateX(7rem) rotate(--72deg);
          transform: rotate(-72deg) translateX(7rem) rotate(--72deg);
}
nav a:nth-child(2) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
nav.clicked a:nth-child(2) {
  -webkit-transform: rotate(0deg) translateX(7rem) rotate(-0deg);
          transform: rotate(0deg) translateX(7rem) rotate(-0deg);
}
nav a:nth-child(3) {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}
nav.clicked a:nth-child(3) {
  -webkit-transform: rotate(72deg) translateX(7rem) rotate(-72deg);
          transform: rotate(72deg) translateX(7rem) rotate(-72deg);
}
nav a:nth-child(4) {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}
nav.clicked a:nth-child(4) {
  -webkit-transform: rotate(144deg) translateX(7rem) rotate(-144deg);
          transform: rotate(144deg) translateX(7rem) rotate(-144deg);
}
nav a:nth-child(5) {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
nav.clicked a:nth-child(5) {
  -webkit-transform: rotate(216deg) translateX(7rem) rotate(-216deg);
          transform: rotate(216deg) translateX(7rem) rotate(-216deg);
}
nav a:nth-child(6) {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}
nav.clicked a:nth-child(6) {
  -webkit-transform: rotate(288deg) translateX(7rem) rotate(-288deg);
          transform: rotate(288deg) translateX(7rem) rotate(-288deg);
}


/*end of nav*/
