*{
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	background-color:#F2F2F2;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	text-align:center;
	color:#404040;
	position:relative;
}

a{
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wrapper{
	width:100%;
	margin:30px auto 0;
	background-color:#FFFFFF;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header{
	text-align:right;
	padding:10px;
	margin-bottom:10px;
	background-color:#5DBA9D;
}

header a{
	font-size:20px;
	color:#FFFFFF;
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:10px;
	text-align:center;
	display:inline-block;
}

header a:hover, .list-mode header a.hide-list:hover{
	background-color:#11956c;
}

header a.hide-list{
	background-color:#11956c;
}

.list-mode header a.hide-list{
	background-color:#5DBA9D;
}

.list-mode header a.show-list{
	background-color:#11956c;
}

.container:after{
	content:"";
	clear:both;
	display:table;
}

.container{
	padding:10px 0 10px 10px;
}

.wrapper .box{
	float:left;
	width:190px;
	height:190px;
	margin:0 10px 10px 0;
	background-color:#CCCCCC;
	-webkit-transition:all 1.0s ease;
	-moz-transition:all 1.0s ease;
	transition:all 1.0s ease;
	transition:all 1.0s ease;
}

.wrapper.list-mode .container{
	padding-right:10px;
}

.wrapper.list-mode .box{
	width:100%;
}

/* edit_div */
#edit_div{
  position:fixed;
  z-index:5;
  width:30%;
  height:60%;
  right:5px;
  top:40%;
  background-color: rgba(200, 200, 200, 0.8);
  font-size:20px;
  display:none;

}



#edit_div_content{
  padding-left:5px;

}


#edit_div_close{
/*
  position:relative;
  text-align:right;
  padding-right:5px;
  font-size:20px;
*/
  }

#feedback-page{
	text-align:center;
}

#edit_div_content{
	width:100%;
	float:left;
	padding-top:0px;
}


#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 200px;
	left: 100%;
	position: fixed;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  z-index:3;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#edit_div_content_title{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#edit_div_content_title:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#edit_div_content_priority{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#edit_div_content_priority:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#edit_div_content_tag{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#edit_div_content_tag:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#edit_div_content_content{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

/* end of edit_div*/
